@import 'tailwindcss';
@plugin "daisyui";

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300, 400, 500, 700;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600, 400, 500, 700, 800;
}

body {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400, 600, 700;
}
body {
  font-family: 'Audiowide', sans-serif;
  font-weight: 400, 600, 700;
}
body {
  font-family: 'Consolas', sans-serif;
  font-weight: 400;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
    background-image: linear-gradient(to right, #ff0000, #ff9900, #33cc33);
  }
  50% {
    background-position: 100% 50%;
    background-image: linear-gradient(to right, #0066ff, #9900cc, #ff0000);
  }
  100% {
    background-position: 0% 50%;
    background-image: linear-gradient(to right, #ff9900, #33cc33, #0066ff);
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-dotted {
  background: repeating-linear-gradient(
    90deg,
    rgb(45, 45, 123),
    rgb(45, 45, 119) 2px,
    transparent 2px,
    transparent 8px
  );
  opacity: 0.9;
}

.vertical-hr {
  width: 1px;
  height: 200px;
  background-color: #898989;
  border: none;
  margin: 0 auto;
  display: block;
}
